.flex {
    display: flex;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    height: 9vh;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    align-content: space-evenly;
    padding: 5px 15px;
    background-color: #A0DFC7;
    color: #113535;
}

#navbar-btns {
    justify-content: center;
    align-items: center;
}

.navbar-link {
    font-size: 1.25rem;
    margin: 0 20px 0 0;
    text-decoration: none;
    color: #113535;
}

#navbar-logo {
    height: 80%;
}

#searchbar {
    height: 5vh;
    padding: 0;
    margin: 0 20px 0 0;
}

#src-bar {
    border: none;
    padding: 0 10px;
    margin-right: 1px;
    border-radius: 5px 0 0 5px;
    height: 100%;
}

#src-btn {
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    height: 100%;
    padding: 3px;
    margin: 0;
}

#src-btn img {
    height: 100%;
    padding: 0;
}

#user-btn {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    height: 5vh;
    width: 200px;
    background-color: #113535;
    color: #fff;
    padding:0 5px;
}

#user-btn img{
    height: 80%;
    margin-right: 5px;
}

#user-btn em {
    margin-left: 3px;
}