footer {
    background-color: #113535;
    color: #FCFCFC;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 11px;

}

#footer-nav {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#footer-img {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 464.58px;
}

a {
    color: #FCFCFC;
    font-size: 22px;
    text-decoration: none;
}